.flip-box {
  background-color: transparent;
  width: 350px;
  min-height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box-inner.flipped {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-box-front {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: center;
}

/* Style the back side */
.flip-box-back {
  padding: 20px;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;

}

#isRememberBadge {
  position: absolute;
  top: 10px;
  left: 10px;
}

@media only screen and (max-width: 600px) {
  .btn-actions {
    flex-flow: wrap;
    justify-content: space-between!important;
  }
  .btn-action {
    width: 45%!important;
    margin: 0!important;
    margin-top: 4px!important;
  }
    
}

